.header-section {
  position: relative;
  padding: 24px 0;
  z-index: 8;
  .open-icon {
    display: none;
    i {
      @extend%trans2;
    }
  }
  .nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon-box,
    .close-icon {
      display: none;
    }
    .nav-list {
      width: 100%;
      ul {
        justify-content: center;
        li {
          a {
            padding: 0 0 10px;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              @extend%trans2;
              background-color: rgba($color-primary, 1);
              @include dir(rtl) {
                right: 0;
              }
              width: 0%;
              height: 2px;
            }
          }
        }
      }
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      // justify-content: flex-end;
      li {
        @include dir(rtl) {
          padding-left: 24px;
          &:last-of-type {
            padding: 0;
          }
        }
        @include dir(ltr) {
          padding-right: 24px;
          &:last-of-type {
            padding: 0;
          }
        }
        &.current-menu-item {
          a {
            color: rgba($color-primary, 1);
            font-weight: 700;
            &:after {
              width: 50%;
            }
          }
        }
        a {
          display: block;
          @extend%trans2;
          font-size: 18px;
          font-weight: 400;
          color: rgba($color-gray, 1);
          &:hover {
            color: rgba($color-primary, 1);
            &:after {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header-section {
    .nav-box {
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 772px) {
  .header-section {
    .icon-box-side {
      display: none;
    }
    .open-icon {
      display: block;
      text-align: end;
      i {
        font-size: 20px;
        cursor: pointer;
        color: rgba($color-gray, 1);
        &:hover {
          color: rgba($color-primary, 1);
        }
      }
    }
    .nav-box {
      display: block;
      position: fixed;
      top: 0;
      padding: 60px;
      width: 223px;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba($color-gray, 1) 0,
        rgba($color-gray2, 1) 100%
      );
      transition: 0.2s all ease-in-out;
      z-index: 999999;
      @include dir(rtl) {
        right: -230px;

        box-shadow: -6px 1px 12px rgba($color-black, 0.3);
      }
      @include dir(ltr) {
        left: -230px;
        box-shadow: 6px 1px 12px rgba($color-black, 0.3);
      }
      &.open-menu {
        @include dir(rtl) {
          right: 0;
        }
        @include dir(ltr) {
          left: 0;
        }
      }
      .close-icon {
        display: block;
        position: absolute;
        top: 20px;
        @include dir(rtl) {
          left: 14px;
        }
        @include dir(ltr) {
          right: 14px;
        }
        z-index: 1;
        cursor: pointer;
        color: rgba($color-white, 1);
        font-size: 18px;
      }
      .icon-box {
        display: block;
        ul {
          display: flex;
        }
      }
      ul {
        display: block;

        li {
          width: fit-content;
          margin-bottom: 24px;
          a {
            font-size: 14px;
            color: rgba($color-white, 1);
          }
        }
      }
    }
  }
}
